.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }

  .title-cover {
    min-width: 40vmin;
    width: 80vmin;
    max-width: 85vmin;
    display: flex;
  }
  
  .title-cover .ipt{
    flex:9;
    margin-top: 4vmin;
  }
  
  
  .title-cover > .upd{
    flex:1;
    align-self: flex-end;
    margin-left: 10px;
  }

.tags-cat {
  min-width: 40vmin;
  width: 80vmin;
  max-width: 85vmin;
  display: flex;  
}



.tags-cat .tag {
  flex: 15;
  min-width: 35vmin;
  width: 60vmin;
  max-width: 62.5;
}

